:root {
  --md-admonition-icon--new-version: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.5 2.75a.75.75 0 00-1.5 0v18.5c0 .414.336.75.75.75H20a.75.75 0 000-1.5H2.5V2.75z"/><path d="M22.28 7.78a.75.75 0 00-1.06-1.06l-5.72 5.72-3.72-3.72a.75.75 0 00-1.06 0l-6 6a.75.75 0 101.06 1.06l5.47-5.47 3.72 3.72a.75.75 0 001.06 0l6.25-6.25z"/></svg>')
}
.md-typeset .admonition.new-version,
.md-typeset details.new-version {
  border-color: rgb(15, 20, 25);
}
.md-typeset .new-version > .admonition-title,
.md-typeset .new-version > summary {
  background-color: rgba(15, 20, 25, 0.1);
}
.md-typeset .new-version > .admonition-title::before,
.md-typeset .new-version > summary::before {
  background-color: rgb(15, 20, 25);
  -webkit-mask-image: var(--md-admonition-icon--new-version);
          mask-image: var(--md-admonition-icon--new-version);
}
